<h1>Types of Disaster</h1>

<ul>
  <% @types.each do |type| %>
    <li>
      <%= type.name %>
      <%= link_to 'Edit', edit_type_path(type) %>
      <%= button_to 'Delete', type_path(type),method: :delete%>
    </li>
  <% end %>
</ul>

<%= link_to 'Add Types', new_type_path %> | <%= link_to 'Back', new_post_path %>
