<div class="text-center mb-3 text-dark">
  <div class="container">
    <div class="d-flex justify-content-sm-around">
      <div class="col-2">
        <div class="card bg-light">
          <div class="card-body">
            <h5><%= link_to "Export CSV", posts_path(:format => :csv), :class => "btn btn-info btn-outline-primary btn-sm" %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mb-4 text-light">
  <div class="container">
    <div class="d-flex justify-content-sm-around">
      <div class="col-7">
        <div class="card bg-dark">
          <div class="card-body">
            <h3>Disaster Information's</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <% @posts.each do |post| %>
    <div class="container mt-2">
      <div class="d-flex justify-content-sm-around">
        <div class="col-7">
          <div class="card m-1">
            <div class="card-body">
              <p class="fs-5">
                <span class="text-danger d-flex align-content-center justify-content-center">Category: <%= post.types.pluck(:name).join(', ') %></span>
              </p>
              <p class="text-danger text-center">
                <%= image_tag "#{post.avatar.url}", width: "200", height: "200" if post.avatar? %>
              </p>
              <p class="fs-5">
                <span class="d-flex align-content-center justify-content-center"><strong> " <%= post.title %> "</strong></span>
                <%= image_tag ('hot2.png'), width: "90", height: "70", class: 'float-end' if @hot_posts.include?(post) %>
              </p>
              <p data-controller="clipboard" class=""><strong>Creator: </strong>
                <span data-clipboard-target="email"><%= post.user.email %></span>
                <button class="btn btn-sm btn-outline-primary m-0" data-action="click->clipboard#copy">COPY</button>
              </p>
              <p class=""><strong>Address: </strong><%= post.address %></p>
              <p class=""><strong>IP Address: </strong><%= Geocoder.search(post.ip_address).first.country %></p>
              <p class=""><strong>Date and Time: </strong><%= post.user.current_sign_in_at %></p>
              <p class=""><strong>No. of Comments: </strong><%= post.comments_count %></p>
              <p class=" m-3 d-flex justify-content-end align-content-end"><%= link_to "#{post.unique_string}", post.unique_string %></p>
              <table class="d-flex justify-content-center align-content-center">
                <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><%= link_to 'Show', post_path(post), class: 'btn btn-outline-dark me-2' %></td>
                  <td><%= button_to 'Delete', post_path(post), class: 'btn btn-outline-danger me-2', :onclick => "return confirm('Are you sure you want to delete?')", method: :delete if post.user == current_user %></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

