<h1>Disaster Information's</h1>

<table class="table table-bordered table-responsive">
  <thead class="bg-info">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Content</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.address %></td>
      <td><%= link_to 'Show', post_path(post) %>
          <%= link_to 'Edit', edit_post_path(post) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Add Disaster Information', new_post_path %>