<div class="text-center mb-4 text-light">
  <div class="container">
    <div class="d-flex justify-content-sm-around">
      <div class="col-7">
        <div class="card bg-dark">
          <div class="card-body">
            <h3>Disaster Information's</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <% @posts.each do |post| %>
    <div class="container mt-2">
      <div class="d-flex justify-content-sm-around">
        <div class="col-7">
          <div class="card m-1">
            <div class="card-body">
              <%= image_tag ('hot2.png'), width: "90", height: "70", class: 'float-end' if @hot_posts.include?(post) %>
              <p class="fs-5">
                <span class="text-danger d-flex align-content-center justify-content-center">Category: <%= post.types.pluck(:name).join(', ') %></span>
              </p>
              <p class="fs-5">
                <span class="d-flex align-content-center justify-content-center"><strong> " <%= post.title %> "</strong></span>
              </p>
              <p class="fs-5"><strong>Creator: </strong><%= post.user.email %></p>
              <p class="fs-5"><strong>Address: </strong><%= post.address %></p>
              <p class="fs-5"><strong>IP Address: </strong><%= post.user.current_sign_in_ip %></p>
              <p class="fs-5"><strong>Date and Time: </strong><%= post.user.current_sign_in_at %></p>
              <p class="fs-5"><strong>No. of Comments: </strong><%= post.comments_count %></p>
              <table class="d-flex justify-content-center align-content-center">
                <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><%= link_to 'Show', post_path(post), class: 'btn btn-outline-dark me-2' %></td>
                  <td><%= button_to 'Delete', post_path(post), class: 'btn btn-outline-danger me-2', :onclick => "return confirm('Are you sure you want to delete?')", method: :delete if post.user == current_user %></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

