<div class="text-center"><h1>Disaster Information's</h1></div>
<div class="container">
  <table class="table table-bordered table-responsive">
    <thead class="bg-info text-center">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Content</th>
      <th>Address</th>
      <th>Types of Disaster</th>
      <th>Comments</th>
      <th colspan="3">Action</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.address %></td>
        <td><%= post.types.pluck(:name).join(', ') %></td>
        <td><%= link_to 'Comments', post_comments_path(post) %></td>
        <td><%= link_to 'Add Comment', new_post_comment_path(post) if post.user == current_user %></td>
        <td><%= link_to 'Show', post_path(post), class: 'btn btn-outline-dark me-2' %></td>
        <td><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-outline-dark me-2' if post.user == current_user %></td>
        <td><%= button_to 'Delete', post_path(post), class: 'btn btn-outline-dark me-2', method: :delete, :onclick => "return confirm('Are you sure you want to delete?')" if post.user == current_user %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

    <%= link_to 'Add Disaster Information', new_post_path %>

</div>
