<h1>Title: <%= @post.title %></h1>

<div>
  <strong>Title:</strong><%= @post.title %>
</div>
<div>
  <strong>Content:</strong><%= @post.content %>
</div>
<div>
  <strong>Address:</strong><%= @post.address %>
</div>

<%= link_to 'Back', posts_path%>

